
body{
	font-family: Roober, Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 auto;
	background-color: #101010;
}
body b{
	color: #AC58FA;
}
#menu ul{
	height: 32px;
	margin-top: 0px;
	background-color: #141414;
	border-bottom: 1px solid #000000;
	width: 100%;
	position: fixed;
	top: 0px;
}
#menu ul li{
	/*visual horizontal*/
	display: inline;
	margin: 10px;
}
#menu ul li a{
	font-size: 15px;
	font-weight: bold;
	font-family: Roober, Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	/*visual do link*/
	color: white ;

}
#menu ul li a:hover{
	color: #AC58FA;
}
#menu ul li a:onclick{

}
#botoes{
	padding-left: 30px;
	padding-top: 15px;
}
#logo{
	position: fixed;
	top: 10px;
	left: 10px;
	width: 35px;
}
#rodape{
	text-align: center;
	clear: both;
	background-color: #141414;
	color: white;
	border-top: 2px solid #000000;
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 5px;
}
#rodape ul{
	margin: 15px;
	padding: 0px;
	list-style: none;
	color: white;
}
#rodape li{
	padding: 15px;
	display: inline;
}
#rodape a{
	color: white;
	text-decoration: none;
}
#rodape a:hover{
	color: #AC58FA;
}
#rodape p{
	font-family: Didot, serif;
	color: #696969;
}
#direcionamento{
	text-align: center;
}
#assinatura{
	background: pink;
}
#stream{
	clear: both;
	text-align: center;
	padding: 10px;
	margin: 100px auto 50px auto;
}
#conteudo{
	margin: 50px auto;
	width: 900px;
	padding: 10px;
	background: #161616;
	border: 1px solid grey;
	border-radius: 10px;
}
#conteudo h1{
	margin: 40px;
	text-align: center;
	font-family: "Cambria";
	color: #AC58FA;
}
#conteudo a{
	text-decoration: none;
}
#conteudo a:hover{
	color: #AC58FA;
}
#conteudo h3{
	font-size: 20px;
	font-family: "Cambria";
	color: #AC58FA;
}
#conteudo p{
	padding-left: 15px;
	clear: both;
	color:	white;
}
#conteudo table{
	background-color: rgb(207, 86, 207);
	margin-bottom: 10px;
}
#conteudo table, th, td{
	border: 2px solid #AC58FA;
	border-collapse: collapse;
	color: white;
	text-align: center;
}
#conteudo th{
	background-color: white;
	padding: 15px;
}
#conteudo td{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
/* CLASSES */
.pergunta{
	margin-top: 15px;
	border-radius: 5px;
	padding: 5px;
	background: #141414;
}
.pergunta h3{
	padding-left: 8px;
}
.resposta{
	border: 1px solid #3C3C3C;
	border-radius: 4px;
	padding: 5px;
	background: #090909;
}
.img-centro{
	border: 2px solid #AC58FA;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.dica{
	background-color: thistle;
	border: 2px solid #AC58FA;
	border-radius: 20px;
	width: 780px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.dica li{
	margin: 15px;
}